.UserConsole {
    min-height: 500px;
    margin: 2px;
    padding: 2px;
  }

  .myPokemon {
    height: 400px;
    overflow-y: scroll;
    white-space: pre-wrap;

  }
  
  #magic {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .labels {
    padding: 5px;
    justify-content:center;
    text-align: center;
  }
  
  pre {
    height: 120px;
    overflow-y: scroll;
    white-space: pre-wrap;
  }
  