.UserConsole {
    min-height: 500px;
    margin: 2px;
    padding: 2px;
    align-items: center;
  }

  .myPokemon {
    height: 500px;
    overflow-y: scroll;
    white-space: pre-wrap;
  }
  
  #magic {
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
  }

  .labels {
    padding: 5px;
    justify-content:center;
    text-align: center;
  }

  #fightcard {
    background-image: url('../images/sparkles.gif');
    background-size: 100%;
    position: relative;
  }

  #fightgrid {
    height: 450px;
    width: 450px;
  }